* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-wrapper {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-box {
    width: 35vw;
    height: 50vw;
    padding: 2.5vw;
    padding-bottom: 1vw;
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    align-items: center;

    box-shadow: 0 0 5px 2px rgba(255,255,255,0.3);
}

.songImage {
    width: 25vw;
    height: 25vw;
    border-radius: 2px;
    opacity: 0.9;
}

#songN, #songA {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
}

#songN {
    margin-bottom: 5px;
}

#songA {
    font-size: 15px;
}

.range-box {
    position: relative;
    width: 100%;
}

.range-box span {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.range-box span:last-child {
    left: auto;
    right: 0;
}

#radius {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 4px;
    overflow: hidden;
    background:none;
    cursor: pointer;
}

#radius::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #dc143c;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-top: -7px;
    box-shadow: calc(-100vmax - 18px) 0 0 100vmax #dc143c;
    clip-path: polygon(
        100% 0,
        2px 0,
        0 7px,
        -100vmax 7px,
        -100vmax 11px,
        0 11px,
        2px 100%,
        100% 100%
    );
}

#radius::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    background-color: #dc143c;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

#radius::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 4px;
    background: none;
    -webkit-backdrop-filter: blur(1000px);
    backdrop-filter: blur(1000px);
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.controls button:hover {
    background: rgba(255,255,255,0.2);
}

.controls button:active {
    background: rgba(255,255,255,0.4);
}

.play-pause-but {
    width: 7vw;
    height: 7vw;
}

#playButton {
    width: 4vw;
    margin-left: 0.5vw;
}

.back-next-but {
    width: 4.5vw;
    height: 4.5vw;
    display: none;
}

.back-next-but img {
    width: 45%;
    margin-right: -0.4vw;
}

.reverse {
    rotate: 180deg;
    margin-left: -0.4vw;
    margin-right: 0;
}

.r-but {
    width: 3vw;
    height: 3vw;
}

.r-but img {
    width: 45%;
}

.controls button.active {
    background: rgba(220, 20, 60, 0.2);
}

@media screen and (min-width: 1440px) {
    .player-box {
        width: 22vw;
        height: 33vw;
        padding: 1vw;
        padding-bottom: 10px;
        border-radius: 15px;
        gap: 2vw;
    }
    
    .songImage {
        width: 17vw;
        height: 17vw;
        border-radius: 4px;
    }

    #songN, #songA {
        font-size: 26px;
    }
    
    #songN {
        margin-bottom: 8px;
    }
    
    #songA {
        font-size: 18px;
    }
    
    .range-box span {
        top: 20px;
        font-size: 20px;
    }

    .controls button {
        background: rgba(255,255,255,0.2);
    }
    
    .controls button:hover {
        background: rgba(255,255,255,0.35);
    }
    
    .controls button:active {
        background: rgba(255,255,255,0.45);
    }

    .play-pause-but {
        width: 4.5vw;
        height: 4.5vw;
    }
    
    #playButton {
        width: 2.5vw;
        margin-left: 0.5vw;
    }
    
    .back-next-but {
        width: 3vw;
        height: 3vw;
    }
    
    .back-next-but img {
        margin-right: -0.2vw;
    }
    
    .reverse {
        margin-left: -0.2vw;
    }
    
    .r-but {
        width: 2vw;
        height: 2vw;
    }
    
    .r-but img {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {
    .player-box {
        width: 80vw;
        height: 130vw;
        padding: 4.5vw;
        padding-bottom: 2vw;
        border-radius: 2vw;
        gap: 8vw;
    }
    
    .songImage {
        width: 65vw;
        height: 65vw;
    }
    
    #songN, #songA {
        font-size: 16px;
    }
    
    #songA {
        font-size: 14px;
    }
    
    .range-box span {
        top: 20px;
        font-size: 14px;
    }
    
    #radius {
        height: 14px;
        border-radius: 4px;
    }
    
    #radius::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
        margin-top: -5px;
        box-shadow: calc(-100vmax - 13px) 0 0 100vmax #dc143c;
        clip-path: polygon(
            100% 0,
            2px 0,
            0 5px,
            -100vmax 5px,
            -100vmax 9px,
            0 9px,
            2px 100%,
            100% 100%
        );
    }
    
    #radius::-moz-range-thumb {
        height: 13px;
        width: 13px;
        margin-top: -5px;
    }
    
    #radius::-webkit-slider-runnable-track {
        height: 4px;
        border-radius: 4px;
    }
    
    .play-pause-but {
        width: 15vw;
        height: 15vw;
    }
    
    #playButton {
        width: 9vw;
        margin-left: 1vw;
    }
    
    .back-next-but {
        width: 10vw;
        height: 10vw;
    }
    
    .back-next-but img {
        margin-right: -0.8vw;
    }
    
    .reverse {
        margin-left: -0.8vw;
    }
    
    .r-but {
        width: 6vw;
        height: 6vw;
    }
}